.containerBlog {
  padding: 54px 0;
  display: grid;
  gap: 44px;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.newsItem {
  display: grid;
  gap: 12px;
  cursor: pointer;
}

.newsTitle:hover {
  color: #0000EE;
}